<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDEuVLG7yQzuT0bqcQa7rGtuEf7JFOQ-qE</string>
	<key>GCM_SENDER_ID</key>
	<string>248025572096</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.academypgh.pprd</string>
	<key>PROJECT_ID</key>
	<string>prn-discovery-day</string>
	<key>STORAGE_BUCKET</key>
	<string>prn-discovery-day.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:248025572096:ios:dd1fe381b72f1b6f9349e5</string>
</dict>
</plist>