<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>753385409481-gn7rt8jla25o6h9fgr7s4e9abb4jf043.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.753385409481-gn7rt8jla25o6h9fgr7s4e9abb4jf043</string>
	<key>API_KEY</key>
	<string>AIzaSyDpia0cYLy-5Xt4ulwXJix7EnJwELyj0BI</string>
	<key>GCM_SENDER_ID</key>
	<string>753385409481</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.academypgh.pgx</string>
	<key>PROJECT_ID</key>
	<string>pittsburghgamingexpo</string>
	<key>STORAGE_BUCKET</key>
	<string>pittsburghgamingexpo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:753385409481:ios:144be2d32118911ed7b618</string>
</dict>
</plist>