<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>375198735724-o10spt0c617rhbmc5a41s6689f6ji14m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.375198735724-o10spt0c617rhbmc5a41s6689f6ji14m</string>
	<key>API_KEY</key>
	<string>AIzaSyAezLAYH97wGP9L1LXPn5L37a9m-qE8dYk</string>
	<key>GCM_SENDER_ID</key>
	<string>375198735724</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.AcademyPGH.FreshFest</string>
	<key>PROJECT_ID</key>
	<string>freshfest-693cb</string>
	<key>STORAGE_BUCKET</key>
	<string>freshfest-693cb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:375198735724:ios:ef28eae7c5f94a39c0a749</string>
	<key>DATABASE_URL</key>
	<string>https://freshfest-693cb.firebaseio.com</string>
</dict>
</plist>