<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1024880692968-pq26hese2870830d9j77q822ovgp3d7g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1024880692968-pq26hese2870830d9j77q822ovgp3d7g</string>
	<key>API_KEY</key>
	<string>AIzaSyC5S8eF3bO6HdjRXGL4ROcaaBIFqBpKBak</string>
	<key>GCM_SENDER_ID</key>
	<string>1024880692968</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.AcademyPGH.Juneteenth</string>
	<key>PROJECT_ID</key>
	<string>juneteenth-49cb5</string>
	<key>STORAGE_BUCKET</key>
	<string>juneteenth-49cb5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1024880692968:ios:db2f701e10099f0487035d</string>
</dict>
</plist>